* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

:root {
  /* COLORS */
  --blueos: #0a1339;
  --red: #d10000;
  --white: #ffffff;
  --violet: #9e1677;
  --grey: #cfccce;
  --black: #212121;
  --blackcl: #151515;
  --skyblue: #0c99e0;
  --red: #d5241e;
  --yellow: #e6f010;
  --greyos: #454343;
}

body {
  background: var(--blackcl);
}

/* NAVBAR */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 3.6rem;
  background: var(--blackcl);
  z-index: 100;
  position: fixed;
}

.title__logo {
  color: var(--violet);
  cursor: pointer;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2rem;
}

.navbar__list {
  display: flex;
  gap: 3rem;
}

.navbar__list a {
  font-weight: 700;
}

.navbar__list a:hover {
  border-bottom: 5px solid var(--violet);
  padding-bottom: 0.7rem;
  color: var(--violet);
}

.container__account {
  display: flex;
  gap: 2rem;
}

.container__account a {
  font-weight: 700;
}

.container__account a:hover {
  border-bottom: 5px solid var(--violet);
  padding-bottom: 0.7rem;
  color: var(--violet);
}

/* MAIN */
main {
  padding-top: 4.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  padding: 13rem 0rem;
  background: url("../imgs/df73plw-b31e013b-800f-4367-a7fa-cdeab018158e.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  /* height: 58.7rem; */
}

.container__hero-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}

.hero__title h1 {
  font-size: 2rem;
  color: var(--red);
  max-width: 15rem;
}

.hero__description {
  max-width: 300px;
  font-size: 1.2rem;
}

.hero__description p {
  color: var(--white);
  max-width: 1000px;
}

.btn {
  background: var(--violet);
  padding: 1rem;
  border-radius: 1rem;
}

.hr {
  border-color: var(--violet);
}
/* ABOUT */
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 6rem 0rem;
  position: relative;
  z-index: 20;
  width: 100%;
  height: 500px;
  background: var(--blackcl);
}

.container__about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.about__title h2 {
  font-size: 2rem;
  color: var(--white);
}

.img__about {
  width: 500px;
  height: 700px;
}

.about__description p {
  max-width: 600px;
  font-size: 1.3rem;
  text-align: center;
  color: var(--grey);
}
/* PRODUCTS */
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 8rem;
  gap: 5rem;
}

.products__section-h3 {
  font-size: 2rem;
  color: var(--white);
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container__products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  /* background: #000000; */
  padding: 0.7rem;
  cursor: pointer;
  background: var(--greyos);
  width: 14rem;
}

.container__products:hover {
  background: #363535;
}

.thelastofus {
  width: 200px;
  height: 250px;
}

.godofwar {
  height: 250px;
  width: 200px;
}

.cyberpunk {
  height: 250px;
  width: 200px;
}

.milesmorales {
  width: 200px;
  height: 250px;
}

.wayout {
  height: 250px;
  width: 200px;
}

.product__title {
  max-width: 200px;
}

.container__btn {
  display: flex;
  /* gap: 5.6rem; */
  gap: 5.1rem;
}

.btn__products {
  background: var(--skyblue);
  padding: 0.2rem 0.7rem;
  border-radius: 0.7rem;
  font-size: 0.8rem;
}

.btn__buy {
  background: var(--black);
  padding: 0.2rem 0.7rem;
  border-radius: 0.7rem;
  font-size: 0.8rem;
}

.btn__semore {
  padding: 0.8rem;
}

.btn__semore:hover {
  background: var(--red);
}

/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__title-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__title-contact h1 {
  padding: 2rem 0rem;
}

.container__contact {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.container__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.descrp__contact {
  font-size: 1.1rem;
  max-width: 30rem;
  text-align: center;
}

.container__forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--black);
  padding: 4rem 8rem;
}

input {
  text-align: center;
  border: 1px solid var(--skyblue);
  border-radius: 0.3rem;
  color: var(--blackcl);
  width: 20rem;
  height: 2rem;
  background: var(--blackcl);
  color: var(--white);
}

textarea {
  border: 1px solid var(--skyblue);
  resize: none;
  text-align: center;
  background: var(--blackcl);
  color: var(--white);
  height: 12rem;
  width: 20rem;
}

.btn__form {
  background: var(--violet);
  color: var(--white);
  padding: 0.6rem 2rem;
  border-radius: 0.5rem;
}

.btn__form:hover {
  background: var(--red);
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.title__footer {
  font-size: 1rem;
}
